* {
margin: 0;
padding: 0;
border-radius: border-box;
}

.nav {
    background-color:tan;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
}   

.link {
display: flex;
gap: 4rem;
align-items: center;

}


.sticky{
    height: 100px ;
width: 100px; ;
display: flex;
padding: 2px;
align-items: center;
justify-content: center;
}


.style1 {
    background-color: purple;
    
padding: 2px; 
height: 200px ;
width: 200px; ;
margin-top: 2rem;

}
.TEST{
position: sticky;
padding: 20px;
text-align: center;
color: gray;
top: 0;
width: 100px;
background: rgb(90, 86, 98);
border-radius: 100%;
}


.TEST1{
position: fixed;
padding: 20px;
text-align: center;
color: gray;
bottom: 2px; ;
width: 100px;
background: rgb(50, 86, 98);
border-radius: 100%;
}


/* .child1 {
    background-color: palevioletred;
    justify-content: center;

height: 20px ;
width: 20px; ;
}

.child2 {
    background-color: peru;
    

height: 20px;
width: 20px; ;
} */

.style2 {
    background-color: tomato;
    padding: 2px; 
height: 200px ;
width: 200px; ;
margin-top: 2rem;
position: sticky;
align-items: top ;
}

.style3{
     background-color: peru;
    padding: 2px; 
height: 200px ;
width: 200px; ;
margin-top: 2rem;
}


.tim4{
    background-color: lawngreen;
    display: flex;
    align-items: end;
    gap: 2px;
    justify-content: end;
    position: sticky;
}

.tim5{
    background-color: indianred;
    display: flex;
    align-items: start;
    gap: 2px;
    justify-content: center;
}


.tim6{
    background-color: paleturquoise;
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

.tim7{
    background-color: yellow;
    display: flex;
    align-items: end;
    gap: 2px;
    justify-content: left;
}

.tim8{
    background-color: gray;
    display: flex;
    align-items: start;
    gap: 2px;
    justify-content: end;
}
.logo{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}