*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
     min-height: 100vh; 
}

.nav {
    background-color:wheat ;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}   

.usercontainerflex {
  background-color: wheat;
  /* min-height: 30vh; */
  width: 100%;
  /* margin: 5rem auto; */
  border-radius: 5px;
  padding: 0.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.userinfoflex {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
}

.userdetailsflex {
  border: 2px solid wheat;
  border-radius: 5px;
  padding: 1rem;
  width: 80%;
}

.Nameflex {
  display: flex;
  justify-content: center;
}

.bioflex {
  background-color: teal;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1rem;
}

.userimageflex {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: aquamarine;
  background-image: url(lady.jpg);
  place-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 1px 8px 2px rgb(0, 0, 0, 0.5);
}

.par14{
    position: static;
  /* position-area: top; */
    background-color: brown;
    margin-top: 20rem;
    margin-left: 50rem;
}

@media (min-width: 600.1px) {
.userdetailsflex {
    width: 40%;
}
}

@media (min-width: 1000px) {
.userdetailsflex  {
    width: 30%;
}
} 


.logo{
    background-color: teal;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
display: flex;
gap: 4rem;


}


.container3 {

    width: 100%;
    /* margin:20px auto ; */
    /* padding: 20px; */
    display:grid ;
    /* gap:2rem ; */

    min-height:90vh;
    border-radius:5px;
}

.box3{
padding: 1rem;
border: 2px solid black;
border-radius: 5px;
/* display: flex;
justify-content: center;
align-items: center; */
}

.Ad3,.blog3, .side3, .footer3{
    background-color: wheat;
}

@media (min-width: 768px) {
    .container3 {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(8, 1fr);
    
}


/* .Header3{
    grid-column: 1 / 13;
} */

.nav{
    grid-column: 1 / 13;
}

.Ad3{
    grid-column: 1 / 13;
}

.usercontainerflex {
    grid-column: 1 /13;
    grid-row: 3 / 7;
}

.blog3 {
    grid-column: 1 / 7;
  
}

.side3 {
    grid-column: 7 / 13;
 
}
.footer3 {
    grid-column: 1 / 13;

}
}


@media (min-width: 1000px) {
    .container3 {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(8, 1fr);
    
}

/* the class has to be box3 nav */

/* .Header3{
    grid-column: 1 / 13;
} */

.nav{
    grid-column: 1 / 13;
}

.Ad3{
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}

.usercontainerflex{
    grid-column: 2 /10;
    grid-row: 2 / 6;
}

.blog3 {
    grid-column: 10 / 13;
    grid-row: 2 / 6;

}

.side3 {
    grid-column: 1 / 2;
    grid-row: 6 / 9;

}
.footer3 {
    grid-column: 2 / 13;
grid-row: 6 / 9;
}
}